* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.container {
    position: relative;
}

#editor {
    overflow: scroll;
    background-color: #69306D;
    color: #F2D7EE;
    font-family: 'Hind', sans-serif;
}

.edit {
    margin-top: 2rem;
    color: #0E103D;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3rem;
}

.preview {
    height: 40vh;
    border: 1px solid #69306D;
    width: 80vw;
    margin: 1rem auto;
    overflow: scroll;
}

#preview {
    background-color: #69306D;
    color: #F2D7EE;
    font-family: 'Hind', sans-serif;
}

.pretext {
    margin-top: 2rem;
    color: #0E103D;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3rem;
}

.url {
    margin-top: 2rem;
    color: #0E103D;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
}

@media only screen and (max-width: 900px) {
    #editor {
        width: 80vw;
    }
}